        <thead ng-if="!quiet">
            <tr>
                <td colspan="4">
                    <h3 translatable="yes" ng-click="console.log(projects())">Projects</h3>
                </td>
            </tr>
            <tr>
                <th translatable="yes">Name</th>
                <th translatable="yes">Members</th>
            </tr>
        </thead>
        <tbody ng-repeat="item in projects() " class="active"   >
            <tr class="listing-item">
                <th>{{item.metadata.name}}</th>
                <td></td>
            </tr>
            <tr class="listing-panel" ng-if="selected(id)">
                <td listing-panel kind="Node" colspan="4"></td>
            </tr>
        </tbody>